---
import Layout from '../layouts/Layout.astro';
import Estanteria from '../components/Estanteria.astro';
import Coffe from '../components/Coffe.astro';
import LibroAzul from '../components/LibroAzul.astro';
import LibroRosa from '../components/LibroRosa.astro';
import LibroRojo from '../components/LibroRojo.astro';
import LibroMorado from '../components/LibroMorado.astro';

---

<Layout title="Welcome to Astro.">
	<main>
        <header>

        
            <div id="pared">

                <div id="estanteria1">
                    <Estanteria 
                    widthv='150px';
                    heightv='150px';
                    />    
                </div>
            
            </div>
            
            <div id="mesa">
                <div id="libros">
                    <div id="libroazul" class="relative">
                        <LibroAzul
                        widthv='600px';
                        heightv='300px';
                        />
                    </div>
                <div id="librorosa" class="relative">
                        <LibroRosa
                        widthv='600px';
                        heightv='300px';
                        />
                </div>

                <div id="librorojo" class="relative">
                        <LibroRojo
                        widthv='600px';
                        heightv='300px';
                        />
                </div>
                <div id="libromorado" class="relative">
                        <LibroMorado
                        widthv='800px';
                        heightv='400px';
                        />
                </div>
                </div>
                <div id="cafe1">
                    <Coffe
                widthv='220px';
                heightv='220px';
                />
                </div>
                
            </div>
            <div id="mesareborde">
            
            </div>

    </header>

        
    </main>

</Layout>

<style>
	#pared {
        background-color: #95BDE8;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 50vh;
    }
    #mesa {
        background-color: #F1E0CC;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 42vh;
    }
    #mesareborde {
        background-color: #D8C5B4;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 8vh;
    }

    #estanteria1{
        
        margin-left: 80%;
        padding-top: 2%;
    }

    #cafe1{
        
        margin-left: 80%;
        padding-top: 5%;
    }

    .relative {
        position: absolute;
    }

    #libros{
        margin-left: 3%;
    }

    #libroazul{
        bottom: 55%;
        z-index: 4;
        margin-left: 15%;
    }

    #librorosa{
        bottom: 42%;
        z-index: 3;
        margin-left: 5%;
        
    }
    #librorojo{
        bottom: 35%;
        z-index: 2;
        margin-left: 10%;
    }
    #libromorado{
        bottom: 12%;
        z-index: 1;
        margin-left: 6%;
    }

    header{
        position: relative;
    }

</style>
