---
import Layout from '../layouts/Layout.astro';
import Estanteria from '../components/Estanteria.astro';
import Coffe from '../components/cofee/Coffe.astro';
import Libro1 from '../components/books/Libro1.astro';
import Libro2 from '../components/books/Libro2.astro';
import Libro3 from '../components/books/Libro3.astro';
import Libro4 from '../components/books/Libro4.astro';
import Libro1Top from '../components/books/Libro1Top.astro';
import Libro2Top from '../components/books/Libro2Top.astro';
import Libro3Top from '../components/books/Libro3Top.astro';
import Libro4Top from '../components/books/Libro4Top.astro';
import BookTop from '../components/mainbook/BookTop.astro';
import CoffeTop from '../components/cofee/CoffeTop.astro';
import Flecha from '../components/Flecha.astro';
import Kindle from '../components/kindle/Kindle.astro';

---

<Layout title="Welcome to Astro.">
	<main>
        <div id="main" class="overflow-hidden" >
            <div id="pared" >

                <div id="estanteria1" class="hidden lg:block">
                    <Estanteria 
                    widthv='25vh';
                    heightv='25vh';
                    />    
                </div>
            
            </div>
            <div id="title" >
                <h1 >Hi, Im PAU</h1>
                <h2 >Choose a book </h2>
            </div>
            

            <div id="mesa" class="hidden lg:block">
                <div id="libros" class="max-w-0">
                    <div id="Libro1" class="absolute">
                        <Libro1
                        widthv='60vh';
                        heightv='30vh';
                        />
                    </div>
                    <div id="Libro2" class="absolute">
                            <Libro2
                            widthv='60vh';
                            heightv='30vh';
                            />
                    </div>

                    <div id="Libro3" class="absolute">
                            <Libro3
                            widthv='60vh';
                            heightv='30vh';
                            />
                    </div>
                    <div id="Libro4" class="absolute">
                            <Libro4
                            widthv='85vh';
                            heightv='50vh';
                            />
                    </div>
                    </div>
                    <div id="cafe1">
                        <Coffe
                    widthv='25vh';
                    heightv='25vh';
                    />
                    </div>
                </div>
            </div>
            <div id="mesareborde" class="hidden lg:block"></div>
        </div>
        
    <div id="mesatop">
        <div id="flecha " class=" absolute hidden lg:flex justify-end w-[102%]">
            <Flecha
            widthv='15vh';
            heightv='15vh';
            />
        </div>
        <div id="cafetop" class="absolute hidden lg:flex justify-end items-end w-[98vw] h-[88vh] ">
            <CoffeTop
            widthv='25vh';
            heightv='25vh';
            />
        </div>

        <div id="librosmesa" class=" absolute hidden lg:flex justify-start items-center w-[100vw] h-[100vh]">

            <div id="Libro1top" class="absolute " style="display: none;">
                <Libro1Top
                    widthv='70vh';
                    heightv='70vh';
                />
            </div>
            
            <div id="Libro2top" class="absolute ml-[-18%]">
                <Libro2Top
                    widthv='60vh';
                    heightv='60vh';
                />
            </div>
            <div id="Libro3top" class="absolute ml-[-15%] mt-[-5%]">
                <Libro3Top
                    widthv='60vh';
                    heightv='60vh';
                />
            </div>
            <div id="Libro4top" class="absolute ml-[-25%] ">
                <Libro4Top
                    widthv='90vh';
                    heightv='70vh';
                />
            </div>
        </div>

        <div id="libro" class="absolute hidden lg:flex justify-center items-center w-[100vw] h-[100vh]">
            <BookTop
            widthv='120vh';
            heightv='85vh';
            colorv='#5C9DBF'
            colorv2='#46788E'
            />
        </div>


        <div id="kindle" class="flex lg:hidden">
            <Kindle
                    widthv='45vh';
                    heightv='75vh';
                />
        </div>

        <h2 class="absolute" id="temp">En construcción :)</h2>
    </div>
        
    </main>

</Layout>

<style>


    #temp{
        top: 30vh;
        left: 35vw;
        font-size: 2em;
    }

    #title{
        font-family: 'Bebas Neue', sans-serif;
        position: absolute;
        top: 20vh;
        left: 55vw;
        z-index: 5;
    }

    #title h1{
        font-size: 7vw;
        padding: 0;
        margin: 0;
    }

    #title h2{
        font-size: 3vw;
        padding: 0;
        margin-top: -50px;
    }
 
	#pared {
        background-color: #95BDE8;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 50vh;
    }
    #mesa {
        background-color: #F1E0CC;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 42vh;
    }
    #mesareborde {
        background-color: #D8C5B4;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 8vh;
    }

    #estanteria1{
        
        margin-left: 80%;
        padding-top: 2%;
    }

    #cafe1{
        
        margin-left: 80%;
        padding-top: 5%;
    }

    .absolute {
        position: absolute;
    }

    #libros{
        margin-left: 3%;
    }

    #Libro1{
        bottom: 57%;
        z-index: 4;
        margin-left: 12%;
    }

    #Libro2{
        bottom: 48%;
        z-index: 3;
        margin-left: 8%;
        
    }
    #Libro3{
        bottom: 40%;
        z-index: 2;
        margin-left: 10%;
    }
    #Libro4{
        bottom: 15%;
        z-index: 1;
        margin-left: 2%;
    }

    #mesatop{
        height: 99vh;
        background-color: #F1E0CC;
        position: relative;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    

    #Libro1top{
        z-index: 4;
       
    }

    #Libro2top{
        z-index: 3;
        transform: rotate(90deg);
        
        
    }
    #Libro3top{
        z-index: 2;
        transform: rotate(105deg);
       
    }
    #Libro4top{

        z-index: 1;
        transform: rotate(85deg);

        
    }
    

    #kindle{
        align-items: center;
        justify-content: center;
        padding-top: 3vh;
    }


    @media screen and (max-width: 1600px)  {


        #librosmesa{
            display: none;
        }

        #cafetop{
            display: none;
        }

    }


    @media screen and (max-width: 1400px)  {

        #title{
            left: 65vw;
            top: 25vh;
        }

        #title h1 {
           font-size: 5em;
        }

        #title h2 {
           font-size: 2em;
           margin-top: -30px;
        }

        #librosmesa{
            display: none;
        }

        #cafetop{
            display: none;
        }

    }

    @media screen and (max-width: 1200px)  {

        #title{
            left: 75vw;
            top: 25vh;
        }

        #cafe1{
            display: none;
        }

    }


    @media screen and (max-width: 1020px)  {

        #title{
            left: 38vw;
            top: 0vh;
        }

        #pared{
            height: 18vh;
        }

        #mesatop{
            height: 84vh;
        }
    }



    @media screen and (max-width: 800px)  {


        #temp {
            font-size: 1.5em;
        }
    }


    @media screen and (max-width: 500px)  {

        #title{
            left: 25vw;
            top: 0vh;
        }

        #mesatop{
            height: 86vh;
            overflow: scroll;
        }


        #temp{
            left: 20vw;
        }

        #kindle{
            padding: 0;
            margin: 0;
            width: 100%;
        }
    }

    
   



  


</style>
