---
import Layout from '../layouts/Layout.astro';
import Estanteria from '../components/Estanteria.astro';
import Coffe from '../components/Coffe.astro';
import LibroAzul from '../components/LibroAzul.astro';
import LibroRosa from '../components/LibroRosa.astro';
import LibroRojo from '../components/LibroRojo.astro';
import LibroMorado from '../components/LibroMorado.astro';
import LibroAzulTop from '../components/LibroAzulTop.astro';
import LibroRosaTop from '../components/LibroRosaTop.astro';
import LibroRojoTop from '../components/LibroRojoTop.astro';
import LibroMoradoTop from '../components/LibroMoradoTop.astro';
import BookTop from '../components/BookTop.astro';
import CoffeTop from '../components/CoffeTop.astro';
import Flecha from '../components/Flecha.astro';

---

<Layout title="Welcome to Astro.">
	<main>
        <div id="main">
            <div id="pared">

                <div id="estanteria1">
                    <Estanteria 
                    widthv='25vh';
                    heightv='25vh';
                    />    
                </div>
            
            </div>
            
            <div id="mesa">
                <div id="libros" class="max-w-0">
                    <div id="libroazul" class="absolute">
                        <LibroAzul
                        widthv='60vh';
                        heightv='30vh';
                        />
                    </div>
                    <div id="librorosa" class="absolute">
                            <LibroRosa
                            widthv='60vh';
                            heightv='30vh';
                            />
                    </div>

                    <div id="librorojo" class="absolute">
                            <LibroRojo
                            widthv='60vh';
                            heightv='30vh';
                            />
                    </div>
                    <div id="libromorado" class="absolute">
                            <LibroMorado
                            widthv='85vh';
                            heightv='50vh';
                            />
                    </div>
                    </div>
                    <div id="cafe1">
                        <Coffe
                    widthv='25vh';
                    heightv='25vh';
                    />
                    </div>
                </div>
            </div>
            <div id="mesareborde"></div>
        </div>
        
    <div id="mesatop">
        <div id="flecha" class="absolute">
            <Flecha
            widthv='15vh';
            heightv='15vh';
            />
        </div>
        <div id="cafetop" class="absolute">
            <CoffeTop
            widthv='25vh';
            heightv='25vh';
            />
        </div>

        <div id="librosmesa">

            <div id="libroazultop" class="absolute" style="display: none;">
                <LibroAzulTop
                    widthv='70vh';
                    heightv='70vh';
                />
            </div>
            
            <div id="librorosatop" class="absolute">
                <LibroRosaTop
                    widthv='60vh';
                    heightv='60vh';
                />
            </div>
            <div id="librorojotop" class="absolute">
                <LibroRojoTop
                    widthv='60vh';
                    heightv='60vh';
                />
            </div>
            <div id="libromoradotop" class="absolute">
                <LibroMoradoTop
                    widthv='90vh';
                    heightv='70vh';
                />
            </div>
        </div>

        <div id="libro">
            <BookTop
            widthv='150vh';
            heightv='80vh';
            colorv='#5C9DBF'
            colorv2='#46788E'
            />
        </div>
    </div>
    <div id="fix"></div>

        
    </main>

</Layout>

<style>

 
	#pared {
        background-color: #95BDE8;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 50vh;
    }
    #mesa {
        background-color: #F1E0CC;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 42vh;
    }
    #mesareborde {
        background-color: #D8C5B4;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 8vh;
    }

    #estanteria1{
        
        margin-left: 80%;
        padding-top: 2%;
    }

    #cafe1{
        
        margin-left: 80%;
        padding-top: 5%;
    }

    .absolute {
        position: absolute;
    }

    #libros{
        margin-left: 7%;
    }

    #libroazul{
        bottom: 57%;
        z-index: 4;
        margin-left: 12%;
    }

    #librorosa{
        bottom: 48%;
        z-index: 3;
        margin-left: 8%;
        
    }
    #librorojo{
        bottom: 40%;
        z-index: 2;
        margin-left: 10%;
    }
    #libromorado{
        bottom: 15%;
        z-index: 1;
        margin-left: 2%;
    }

    #mesatop{
        height: 99vh;
        background-color: #F1E0CC;
        position: relative;
        margin: 0;
        padding: 0;
    }
    
    #fix{
        height: 1vh;
        background-color: #F1E0CC;
    }
   

    #libro{
        margin-left: 12%;
        padding-top: 5%;
    }

    #libroazultop{
        bottom: 55%;
        z-index: 4;
        margin-left: -15%;
       
    }

    #librorosatop{
        bottom: 25%;
        z-index: 3;
        margin-left: -18%;
        transform: rotate(90deg);
        
        
    }
    #librorojotop{
        bottom: 30%;
        z-index: 2;
        margin-left: -15%;
        transform: rotate(105deg);
       
    }
    #libromoradotop{
        bottom: 12%;
        z-index: 1;
        margin-left: -20%;
        transform: rotate(85deg);
        
    }

    #cafetop{
        margin-left: 85%;
        margin-top: 30%;
    }

    #flecha{
        margin-left: 92%;
        margin-top: 2%;
    }

  


</style>
