---
import Layout from '../layouts/Layout.astro';
import Estanteria from '../components/Estanteria.astro';
import Coffe from '../components/cofee/Coffe.astro';
import Libro1 from '../components/books/Libro1.astro';
import Libro2 from '../components/books/Libro2.astro';
import Libro3 from '../components/books/Libro3.astro';
import Libro4 from '../components/books/Libro4.astro';
import Libro1Top from '../components/books/Libro1Top.astro';
import Libro2Top from '../components/books/Libro2Top.astro';
import Libro3Top from '../components/books/Libro3Top.astro';
import Libro4Top from '../components/books/Libro4Top.astro';
import BookTop from '../components/mainbook/BookTop.astro';
import CoffeTop from '../components/cofee/CoffeTop.astro';
import Flecha from '../components/Flecha.astro';
import FlechaMovil from '../components/FlechaMovil.astro';
import Kindle from '../components/kindle/Kindle.astro';
import X from '../components/X.astro';

---

<Layout title="Welcome to Astro.">
	<main>
        <div id="main" >
            <div id="title" >
                <div id="titlefix">
                    <h1 >Hi, I'm PAU</h1>
                    <h2 >Choose a book </h2>
                </div>
            </div>
            <div id="pared" >
                <div id="estanteria1" class="hidden lg:block">
                    <Estanteria 
                    widthv='25vh';
                    heightv='25vh';
                    />    
                </div>
            </div>
           
            <div id="mesa" class="hidden lg:flex flex-col">
                <div id="libros" class="absolute hidden lg:flex justify-start items-center w-[90vw] h-[100vh]">
                    <div id="Libro1" class="absolute ">
                        <a href="#mesatop">
                            <Libro1
                            widthv='60vh';
                            heightv='5vh';
                            /> 
                        </a>
                        
                    </div>
                    <div id="Libro2" class="absolute ">
                        <a href="">
                            <Libro2
                            widthv='60vh';
                            heightv='5vh';
                            />
                        </a>
                    </div>

                    <div id="Libro3" class="absolute " >
                        <a href="">
                            <Libro3
                            widthv='60vh';
                            heightv='5vh';
                            />
                        </a>
                    </div>
                    <div id="Libro4" class="absolute ">
                        <a href="">
                            <Libro4
                            widthv='75vh';
                            heightv='40vh';
                            />
                        </a>
                            
                    </div>
                    </div>
                    <div id="cafe1">
                        <Coffe
                    widthv='25vh';
                    heightv='25vh';
                    />
                    </div>
                </div>
            </div>
            <div id="mesareborde" class="hidden lg:block w-[110vw]"></div>
        </div>
        
    <div id="mesatop">
      
        <div id="librosmesa" class=" absolute hidden lg:flex justify-start items-center">

            <div id="Libro1top" class="absolute " style="display: none;">
                <Libro1Top
                    widthv='40vw';
                    heightv='40vh';
                />
            </div>
            
            <div id="Libro2top" class="absolute ml-[-18%]">
                <Libro2Top
                    widthv='35vw';
                    heightv='60vh';
                />
            </div>
            <div id="Libro3top" class="absolute ml-[-15%] mt-[-5%]">
                <Libro3Top
                    widthv='35vw';
                    heightv='60vh';
                />
            </div>
            <div id="Libro4top" class="absolute ml-[-28%] ">
                <Libro4Top
                    widthv='45vw';
                    heightv='90vh';
                />
            </div>
        </div>

        <div id="libro" class="absolute hidden lg:flex  justify-center items-center ">
            
            <div id="divlibro" class="flex">
                <div class="tela">
                    
                </div>
                <div id="pag1" class="flex justify-center items-center">
                    <img src="/imgs/CUERVO_SENTADO.png" alt="cuervo sentado" class="w-[90%] mb-[50px]">
                </div>
                <div id="pag2">
                    <div class="texto">
                        <h3 class="text-center text-5xl m-[50px] merriweather font-bold">ABOUT ME:</h3>
                    <p class="text-2xl m-[30px] merriweather">Hi, I'm Pau, a web developer with experience in web programming and system administration.</p>
                    <p class="text-2xl m-[30px] merriweather">I've been involved in some open source projects, where I've learned and contributed to the development community.</p>
                    <p class="text-2xl m-[30px] merriweather">My hobbies include playing video games, listening to music and reading good books.</p>
             
                    </div>
                    <a href="/cv/cv.pdf"  target="_blank">
                        <div class="posit flex items-center justify-center escrita">
                            <p class="indie-flower text-3xl" >Download cv</p>
                        </div>
                    </a>
                </div>  
            </div>
        </div>
        <div id="flecha " class=" absolute hidden lg:flex justify-end w-[101%] pt-[20px]">
            <div id="flechita">
                <a href="#title">
                    <Flecha
                widthv='15vh';
                heightv='15vh';
                />
                </a>
                
            </div>
           
        </div>
        <div id="cafetop" class="absolute hidden lg:flex justify-end items-end ">
            <CoffeTop
            widthv='25vh';
            heightv='25vh';
            />
        </div>

        <div id="kindle" class="flex flex-col lg:hidden ">
            <Kindle
                    widthv='45vh';
                    heightv='75vh';
                />
            <div id="pagmovil">

                <div id="sec1" class="">
                    <div id="menukindle" class="flex  mt-[20px] items-center">
                        <div id="search" class="w-[300px] h-[30px] bg-[#D9D9D9] ml-[20px] rounded-3xl flex justify-start items-center">
                            <span class="icon-[iconamoon--search] text-l ml-[20px]"></span>
                        </div>
                       
                            <span class="icon-[bxs--cart] ml-[20px]"></span>
                            <span class="icon-[ph--dots-three-outline-vertical-fill] ml-[10px]"></span>
                    </div>
                    <div id="menukindle2" class="flex items-center justify-between w-[90%] m-auto mt-[5px] ">
                        <span class="icon-[akar-icons--settings-horizontal] text-xs"></span>
                        <span class="icon-[material-symbols--sort]"></span>
    
                    </div>

                    <div id="libroskindle" class=" border-t-2 border-[grey] mt-[5px] h-[470px] w-[97%] m-auto flex flex-wrap items-center justify-center">

                            <a href="" id="click1">
                                <div id="aboutmovil" class="fixmovil w-[120px] h-[170px] ml-[20px] mr-[20px] mb-[0px] ">
                                    <p class="text-center text-white titulo pt-[30px]">ABOUT ME</p>
                                    
                                    
                                </div>
    
                            </a>
                            <a href="" >
                                <div id="skillsmovil" class="fixmovil w-[120px] h-[170px] ml-[20px] mr-[20px] mb-[0px] ">
                                    <p class="text-center pt-[30px] text-white titulo">SKILLS</p>
                                </div>
                            </a>
                            <a href="">
                                <div id="projectsmovil" class="fixmovil w-[120px] h-[170px] ml-[20px] mr-[20px] mb-[0px] ">
                                    <p class="text-center pt-[30px] text-white titulo">PROJECTS</p>
                                </div>
                            </a>
                            <a href="">
                                <div id="contactmovil" class="fixmovil w-[120px] h-[170px] ml-[20px] mr-[20px] mb-[0px] ">
                                    <p class="text-center pt-[30px] text-white titulo">CONTACT</p>
                                </div>
                            </a>
                           
                            
                    
                    </div>
    
                </div>
              

                <div id="about1" class="hidden">
                    <div class="equis" id="cerrarabout">
                        <X
                        widthv='30px';
                        heightv='30px';
                        />  
                    </div>
                    <div class="imagentitulo flex flex-col justify-center items-center">
                        <h3 class="text-center text-5xl mt-[50px] bookerly font-bold">ABOUT ME:</h3>
                        <img src="/imgs/CUERVO_SENTADO.png" alt="cuervo sentado" class="w-[70%]">
                    </div>
                    <div class="flechamovil" id="aboutadelante">
                        <FlechaMovil 
                        widthv='80px';
                        heightv='50px';
                        rotation='1'
    
                    />  
                </div>
                </div>
                <div id="about2" class="hidden">
                    <div class="equis" id="cerrarabout2">
                        <X
                        widthv='30px';
                        heightv='30px';
                    />  
                    </div>
                    <div class="imagentitulo flex flex-col justify-center items-center">
                        <p class="text-xl m-[20px] bookerly">Hi, I'm Pau, a web developer with experience in web programming and system administration.</p>
                        <p class="text-xl m-[20px] bookerly">I've been involved in some open source projects, where I've learned and contributed to the development community.</p>
                        <p class="text-xl m-[20px] bookerly">My hobbies include playing video games, listening to music and reading good books.</p>

                        <p class="text-xl m-[20px] bookerly download"> <a href="/cv/cv.pdf" target="_blank">Download CV</a></p>

                 
                    </div>
                    <div class="flechamovil2" id="aboutatras">
                        <FlechaMovil 
                        widthv='80px';
                        heightv='50px';
                        rotation='-1'
    
                    />  
                </div>
            </div>
        </div>
    </div>

    
    <script>
        let book1 = document.getElementById("click1");
        let pagmovil = document.getElementById("pagmovil");
    
        book1.onclick = (event) => {
            event.preventDefault();
            let sec1 = document.getElementById("sec1");
            sec1.style.display = "none";
            let about1 = document.getElementById("about1");
            about1.style.display = "block";
    
            refresh();
        };
    
        let cerrarabout = document.getElementById("cerrarabout");
    
        cerrarabout.onclick = (event) => {
            event.preventDefault();
            let sec1 = document.getElementById("sec1");
            sec1.style.display = "block";
            let about1 = document.getElementById("about1");
            about1.style.display = "none";
          
            refresh();
        };
        
        let cerrarabout2 = document.getElementById("cerrarabout2");
    
        cerrarabout2.onclick = (event) => {
            event.preventDefault();
            let sec1 = document.getElementById("sec1");
            sec1.style.display = "block";
            let about2 = document.getElementById("about2");
            about2.style.display = "none";

            refresh();
        };
        

        let aboutadelante = document.getElementById("aboutadelante");

        aboutadelante.onclick = (event) => {
            event.preventDefault();
            let about1 = document.getElementById("about1");
            about1.style.display = "none";
            let about2 = document.getElementById("about2");
            about2.style.display = "block";


            refresh();
        };

        let aboutatras = document.getElementById("aboutatras");

        aboutatras.onclick = (event) => {
            event.preventDefault();
            let about1 = document.getElementById("about1");
            about1.style.display = "block";
            let about2 = document.getElementById("about2");
            about2.style.display = "none";
           
            refresh();
        };

        function refresh(){
            pagmovil.style.animation = "none";
            void pagmovil.offsetWidth; 
            pagmovil.style.animation = "refresh 0.3s linear";
        }

    </script>
    
    
    
    </main>

</Layout>

<style>

    .download a{
        text-decoration: underline;
        font-weight: bold;
    }

    #pagmovil{
        animation: forwards refresh 0.3s linear;
    }

    #aboutmovil{
        background-image: url("/books/1.png");
    }


    #skillsmovil{
        background-image: url("/books/2.png");
    }


    #projectsmovil{
        background-image: url("/books/3.png");
    }


    #contactmovil{
        background-image: url("/books/4.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    #flechita{
        z-index: 10;
    }

    .equis{
        width: 95%;
        justify-content: end;
        display: flex;
        margin-top: 2vh;
       
    }

    .flechamovil{
        width: 95%;
        justify-content: end;
        display: flex; 
        margin-top: 2vw; 
    }

    .flechamovi2l{
        width: 95%;
        justify-content: start;
        display: flex; 
        margin-top: 2vw; 
    }

    #pagmovil{
        width: 490px;
        height: 740px;
        margin-bottom: 50px;
        position: absolute;
    }

    #flecha{
        z-index: 2;
    }

    #temp{
        top: 30vh;
        left: 35vw;
        font-size: 2em;
    }

    #title{
        font-family: 'Bebas Neue', sans-serif;
        width:  78vw;
        position: absolute;
        display: flex;
        flex-direction: column;
        z-index: 5;
        height: max(80vh, 700px);
        align-items: flex-end;
        justify-content: center
    }

    #title h1{
        font-size: 7em;
        padding: 0;
        margin: 0;
        width: fit-content;
    }

    #title h2{
        font-size: 3em;
        padding: 0;
        margin-top: -50px;
        width: fit-content;
    }
 
	#pared {
        background-color: #95BDE8;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: max(50vh, 440px);
    }
    #mesa {
        background-color: #F1E0CC;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: max(42vh, 353px);
    }
    #mesareborde {
        background-color: #D8C5B4;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: max(8vh, 87px);
    }

    #estanteria1{
        
        margin-left: 80%;
        padding-top: 2%;
    }

    #cafe1{
        
        margin-left: 80%;
        padding-top: 5%;
    }

    .absolute {
        position: absolute;
    }



    #libros{
        margin-left: 5%;
        height: 250px;
        z-index: 5;
    }

    #Libro1{
        z-index: 4;
        margin-left: 12vw;
        margin-bottom: max(72vh, 700px);
    }

    #Libro2{

        z-index: 3;
        margin-left: 8%;
        margin-bottom: max(55vh, 500px);
        
    }
    #Libro3{
       
        z-index: 2;
        margin-left: 10%;
        margin-bottom: max(35vh, 300px);
    }
    #Libro4{
        
        z-index: 1;
        margin-left: 6%;
        margin-bottom: max(10vh, 100px);
    }

    #mesatop{
        height: max(99vh, 770px);
        background-color: #F1E0CC;
        position: relative;
        margin: 0;
        padding: 0;
        overflow: hidden;
        padding-top: 50px;
    }
    

    #Libro1top{
        z-index: 4;
       
    }

    #Libro2top{
        z-index: 3;
        transform: rotate(90deg);
        
        
    }
    #Libro3top{
        z-index: 2;
        transform: rotate(105deg);
       
    }
    #Libro4top{

        z-index: 1;
        transform: rotate(85deg);

        
    }
    

    #kindle{
        align-items: center;
        justify-content: center;
        padding-top: 3vh;
    }

    body{
            background-color: #95BDE8;
        }


    #cafetop{
        width: max(450px, 27vw);
        height: max(80vh, 650px);
        margin-left: 70vw;

    }

    #librosmesa{

        width: max(95vw, 900px);
        height: max(85vh, 700px);
        }

    #libro{
        width: 100vw;
        margin: auto;

    }

    #divlibro{
        width: max(65vw, 1000px);
        background-color: #CEC9B6;
        border-left: #5C9DBF 1vw solid;
        border-right: #5C9DBF 1vw solid;
        border-bottom: #5C9DBF 1vw solid;
        border-top: #5C9DBF 0.5vw solid;
    }

    #pag1{
        height: max(89vh, 690px);
        width: max(33vw, 480px);
        background-color: #EFE8CA;
        border-left: #CEC9B6 1vw solid;
        margin-right: 2vw;
    }
    

    #pag2{
        height: max(89vh, 690px);
        width: max(33vw, 480px);
        background-color: #EFE8CA;
        border-right: #CEC9B6 1vw solid;
        
    }

    .posit{
        text-align: center;
        margin: auto;
        width: 50%;
        background-color: #FAFAB0;
        height: 20%;
        border-top: max(10px, 1vw) #EEEEA9 solid;
        margin-top: 8vh;
        z-index: 10;
        transition: 0.5s;
    }

    .posit:hover{
        border-top: max(8px, 0.8vw) #EEEEA9 solid;
        transform: rotateX(40deg) translateY(-30px) ;
        box-shadow: 0 35px 2px -2px #9e9d9d;

    }

    .texto{
        width: 80%;
        text-align: left;
        margin-left: 80px;
    }

    
    .texto p{
        font-size: 1em;
    }

    .tela{
        position: absolute;
        height: max(91vh, 710px);
        width: max(20px, 1vw);
        background-color: #D6A7B4;
        margin-left: max(35vw, 530px);
        border-top: max(10px, 0.5vw) solid #8C5364 ;
        margin-top: -0.9vh;
    }


 
    
    @media screen and (max-width: 1600px)  {


        #title{

        width: 95vw;
        }

        #librosmesa{
            display: none;
        }

        #cafetop{
            display: none;
        }

        .texto p{
            font-size: 0.8em;
            padding: 0;
            margin: 5px;
        }

    }


    @media screen and (max-width: 1400px)  {



        #title{

            width: 95vw;
        }

        #title h1 {
           font-size: 5em;
        }

        #title h2 {
           font-size: 2em;
           margin-top: -30px;
        }

        #librosmesa{
            display: none;
        }

        #cafetop{
            display: none;
        }

       

    }

    @media screen and (max-width: 1200px)  {

      
        #cafe1{
            display: none;
        }

    }


    @media screen and (max-width: 1025px)  {
        #title{
           
            justify-content: center;
            align-items: center;
            height:  auto;
            
        }

        #kindle{
            background-color: #95BDE8;
        }
        
        #pared{
            display: none;
        }

        #mesatop{
            overflow: hidden;
            margin: 0;
            padding: 0;
        }

        #title{
            position: static;
        }

        #title h1{
            font-size: 5em;
            text-align: center;
        }

        #title h2{
            font-size: 3em;
            text-align: center;
            margin-top: -20px;
        }

        #pared{
            height: max(18vh, 194px);
        }

        #mesatop{
            height: max(84vh, 908px);
            background-color: #95BDE8;
        }
       
    }


    @media screen and (min-width: 800px)  {
        #search{
            width: 350px;
        }
        #menukindle span{
            margin-left: 30px;
        }
        .fixmovil{
            width: 150px;
            height: 200px;
            margin-top: 60px;
        }

    }


    @media screen and (max-width: 800px)  {


        #temp {
            font-size: 1.5em;
        }

        #pagmovil{
            width: 405px;
            height: 610px;
            margin-bottom: 40px;
      
        }

       
    }


    @media screen and (max-width: 500px)  {

        #temp{
            left: 20vw;
        }

        #kindle{
            padding: 0;
            margin: 0;
           
        }
      
    }

    
    @keyframes refresh{
        0%{
            filter: invert();
            backdrop-filter: invert();


        }100%{
            filter: none;
        }
            
    }


    @keyframes refresh2{
        0%{
            filter: invert();
            backdrop-filter: invert();


        }100%{
            filter: none;
        }
            
    }

</style>
