---
import Layout from '../layouts/Layout.astro';
import Estanteria from '../components/Estanteria.astro';
import Coffe from '../components/cofee/Coffe.astro';
import Libro1 from '../components/books/Libro1.astro';
import Libro2 from '../components/books/Libro2.astro';
import Libro3 from '../components/books/Libro3.astro';
import Libro4 from '../components/books/Libro4.astro';
import Libro1Top from '../components/books/Libro1Top.astro';
import Libro2Top from '../components/books/Libro2Top.astro';
import Libro3Top from '../components/books/Libro3Top.astro';
import Libro4Top from '../components/books/Libro4Top.astro';
import BookTop from '../components/mainbook/BookTop.astro';
import CoffeTop from '../components/cofee/CoffeTop.astro';
import Flecha from '../components/Flecha.astro';

---

<Layout title="Welcome to Astro.">
	<main>
        <div id="main">
            <div id="pared">

                <div id="estanteria1">
                    <Estanteria 
                    widthv='25vh';
                    heightv='25vh';
                    />    
                </div>
            
            </div>
            
            <div id="mesa">
                <div id="libros" class="max-w-0">
                    <div id="Libro1" class="absolute">
                        <Libro1
                        widthv='60vh';
                        heightv='30vh';
                        />
                    </div>
                    <div id="Libro2" class="absolute">
                            <Libro2
                            widthv='60vh';
                            heightv='30vh';
                            />
                    </div>

                    <div id="Libro3" class="absolute">
                            <Libro3
                            widthv='60vh';
                            heightv='30vh';
                            />
                    </div>
                    <div id="Libro4" class="absolute">
                            <Libro4
                            widthv='85vh';
                            heightv='50vh';
                            />
                    </div>
                    </div>
                    <div id="cafe1">
                        <Coffe
                    widthv='25vh';
                    heightv='25vh';
                    />
                    </div>
                </div>
            </div>
            <div id="mesareborde"></div>
        </div>
        
    <div id="mesatop">
        <div id="flecha" class="absolute">
            <Flecha
            widthv='15vh';
            heightv='15vh';
            />
        </div>
        <div id="cafetop" class="absolute">
            <CoffeTop
            widthv='25vh';
            heightv='25vh';
            />
        </div>

        <div id="librosmesa">

            <div id="Libro1top" class="absolute" style="display: none;">
                <Libro1Top
                    widthv='70vh';
                    heightv='70vh';
                />
            </div>
            
            <div id="Libro2top" class="absolute">
                <Libro2Top
                    widthv='60vh';
                    heightv='60vh';
                />
            </div>
            <div id="Libro3top" class="absolute">
                <Libro3Top
                    widthv='60vh';
                    heightv='60vh';
                />
            </div>
            <div id="Libro4top" class="absolute">
                <Libro4Top
                    widthv='90vh';
                    heightv='70vh';
                />
            </div>
        </div>

        <div id="libro">
            <BookTop
            widthv='160vh';
            heightv='85vh';
            colorv='#5C9DBF'
            colorv2='#46788E'
            />
        </div>
    </div>
        
    </main>

</Layout>

<style>

 
	#pared {
        background-color: #95BDE8;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 50vh;
    }
    #mesa {
        background-color: #F1E0CC;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 42vh;
    }
    #mesareborde {
        background-color: #D8C5B4;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 8vh;
    }

    #estanteria1{
        
        margin-left: 80%;
        padding-top: 2%;
    }

    #cafe1{
        
        margin-left: 80%;
        padding-top: 5%;
    }

    .absolute {
        position: absolute;
    }

    #libros{
        margin-left: 7%;
    }

    #Libro1{
        bottom: 57%;
        z-index: 4;
        margin-left: 12%;
    }

    #Libro2{
        bottom: 48%;
        z-index: 3;
        margin-left: 8%;
        
    }
    #Libro3{
        bottom: 40%;
        z-index: 2;
        margin-left: 10%;
    }
    #Libro4{
        bottom: 15%;
        z-index: 1;
        margin-left: 2%;
    }

    #mesatop{
        height: 99vh;
        background-color: #F1E0CC;
        position: relative;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    
    #libro{
        margin-left: 12%;
        padding-top: 4%;
    }

    #Libro1top{
        bottom: 55%;
        z-index: 4;
        margin-left: -15%;
       
    }

    #Libro2top{
        bottom: 25%;
        z-index: 3;
        margin-left: -18%;
        transform: rotate(90deg);
        
        
    }
    #Libro3top{
        bottom: 30%;
        z-index: 2;
        margin-left: -15%;
        transform: rotate(105deg);
       
    }
    #Libro4top{
        bottom: 12%;
        z-index: 1;
        margin-left: -20%;
        transform: rotate(85deg);
        
    }

    #cafetop{
        margin-left: 85%;
        margin-top: 30%;
    }

    #flecha{
        margin-left: 93%;
        margin-top: 2%;
    }

  


</style>
