---
import Layout from '../layouts/Layout.astro';
import Estanteria from '../components/Estanteria.astro';
import Coffe from '../components/cofee/Coffe.astro';
import Libro1 from '../components/books/Libro1.astro';
import Libro2 from '../components/books/Libro2.astro';
import Libro3 from '../components/books/Libro3.astro';
import Libro4 from '../components/books/Libro4.astro';
import Libro1Top from '../components/books/Libro1Top.astro';
import Libro2Top from '../components/books/Libro2Top.astro';
import Libro3Top from '../components/books/Libro3Top.astro';
import Libro4Top from '../components/books/Libro4Top.astro';
import BookTop from '../components/mainbook/BookTop.astro';
import CoffeTop from '../components/cofee/CoffeTop.astro';
import Flecha from '../components/Flecha.astro';
import Kindle from '../components/kindle/Kindle.astro';

---

<Layout title="Welcome to Astro.">
	<main>
        <div id="main" >
            <div id="title" >
                <div id="titlefix">
                    <h1 >Hi, I'm PAU</h1>
                    <h2 >Choose a book </h2>
                </div>
            </div>
            <div id="pared" >
                <div id="estanteria1" class="hidden lg:block">
                    <Estanteria 
                    widthv='25vh';
                    heightv='25vh';
                    />    
                </div>
            </div>
           
            <div id="mesa" class="hidden lg:flex flex-col">
                <div id="libros" class="absolute hidden lg:flex justify-start items-center w-[90vw] h-[100vh]">
                    <div id="Libro1" class="absolute ">
                        <Libro1
                        widthv='60vh';
                        heightv='30vh';
                        />
                    </div>
                    <div id="Libro2" class="absolute ">
                            <Libro2
                            widthv='60vh';
                            heightv='30vh';
                            />
                    </div>

                    <div id="Libro3" class="absolute " >
                            <Libro3
                            widthv='60vh';
                            heightv='30vh';
                            />
                    </div>
                    <div id="Libro4" class="absolute ">
                            <Libro4
                            widthv='85vh';
                            heightv='50vh';
                            />
                    </div>
                    </div>
                    <div id="cafe1">
                        <Coffe
                    widthv='25vh';
                    heightv='25vh';
                    />
                    </div>
                </div>
            </div>
            <div id="mesareborde" class="hidden lg:block w-[110vw]"></div>
        </div>
        
    <div id="mesatop">
        <div id="cafetop" class="absolute hidden lg:flex justify-end items-end ">
            <CoffeTop
            widthv='25vh';
            heightv='25vh';
            />
        </div>

        <div id="librosmesa" class=" absolute hidden lg:flex justify-start items-center">

            <div id="Libro1top" class="absolute " style="display: none;">
                <Libro1Top
                    widthv='60vh';
                    heightv='60vh';
                />
            </div>
            
            <div id="Libro2top" class="absolute ml-[-18%]">
                <Libro2Top
                    widthv='60vh';
                    heightv='60vh';
                />
            </div>
            <div id="Libro3top" class="absolute ml-[-15%] mt-[-5%]">
                <Libro3Top
                    widthv='60vh';
                    heightv='60vh';
                />
            </div>
            <div id="Libro4top" class="absolute ml-[-25%] ">
                <Libro4Top
                    widthv='90vh';
                    heightv='70vh';
                />
            </div>
        </div>

        <div id="libro" class="absolute hidden lg:flex flex-col justify-center items-center ]">
            <BookTop
            widthv='105vw';
            heightv='90vh';
            colorv='#5C9DBF'
            colorv2='#46788E'
            />
            <p class="absolute hidden lg:flex text-5xl">En construcción :)</p>
        </div>
        <div id="flecha " class=" absolute hidden lg:flex justify-end w-[101%] pt-[20px]">
            <Flecha
            widthv='15vh';
            heightv='15vh';
            />
        </div>

        <div id="kindle" class="flex flex-col lg:hidden ">
            <Kindle
                    widthv='45vh';
                    heightv='75vh';
                />
            <p class="absolute text-5xl">En construcción :)</p>
        </div>

    </div>
        
    </main>

</Layout>

<style>



    #flecha{
        z-index: 2;
    }

    #temp{
        top: 30vh;
        left: 35vw;
        font-size: 2em;
    }

    #title{
        font-family: 'Bebas Neue', sans-serif;
        width:  78vw;
        position: absolute;
        display: flex;
        flex-direction: column;
        z-index: 5;
        height: max(80vh, 700px);
        align-items: flex-end;
        justify-content: center
    }

    #title h1{
        font-size: 7em;
        padding: 0;
        margin: 0;
        width: fit-content;
    }

    #title h2{
        font-size: 3em;
        padding: 0;
        margin-top: -50px;
        width: fit-content;
    }
 
	#pared {
        background-color: #95BDE8;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: max(50vh, 440px);
    }
    #mesa {
        background-color: #F1E0CC;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: max(42vh, 353px);
    }
    #mesareborde {
        background-color: #D8C5B4;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: max(8vh, 87px);
    }

    #estanteria1{
        
        margin-left: 80%;
        padding-top: 2%;
    }

    #cafe1{
        
        margin-left: 80%;
        padding-top: 5%;
    }

    .absolute {
        position: absolute;
    }



    #libros{
        margin-left: 5%;
        height: 250px;
    }

    #Libro1{
        
        height: 950px;
        z-index: 4;
        margin-left: 12vw;
    }

    #Libro2{

        height: 750px;
        z-index: 3;
        margin-left: 8%;
        
    }
    #Libro3{
        height: 600px;
        z-index: 2;
        margin-left: 10%;
    }
    #Libro4{
        height: 550px;
        z-index: 1;
        margin-left: 2%;
    }

    #mesatop{
        height: max(99vh, 770px);
        background-color: #F1E0CC;
        position: relative;
        margin: 0;
        padding: 0;
        overflow: hidden;
        padding-top: 50px;
    }
    

    #Libro1top{
        z-index: 4;
       
    }

    #Libro2top{
        z-index: 3;
        transform: rotate(90deg);
        
        
    }
    #Libro3top{
        z-index: 2;
        transform: rotate(105deg);
       
    }
    #Libro4top{

        z-index: 1;
        transform: rotate(85deg);

        
    }
    

    #kindle{
        align-items: center;
        justify-content: center;
        padding-top: 3vh;
    }

    body{
            background-color: #95BDE8;
        }


    #cafetop{
        width: max(98vw, 900px);
        height: max(85vh, 650px);

    }

    #librosmesa{

        width: max(95vw, 900px);
        height: max(85vh, 700px);
        }

    @media screen and (max-width: 1600px)  {


        #librosmesa{
            display: none;
        }

        #cafetop{
            display: none;
        }

    }


    @media screen and (max-width: 1400px)  {


        #title{
            width:  85vw;
            height: max(80vh, 700px);
       
        }
        #title h1 {
           font-size: 5em;
        }

        #title h2 {
           font-size: 2em;
           margin-top: -30px;
        }

        #librosmesa{
            display: none;
        }

        #cafetop{
            display: none;
        }

    }

    @media screen and (max-width: 1200px)  {

        #title{
            width:  95vw;
            height: max(80vh, 700px);
       
        }

        #cafe1{
            display: none;
        }

    }


    @media screen and (max-width: 1025px)  {
        #title{
            width:  100vw;
            justify-content: center;
            align-items: center;
            height:  auto;
       
        }

        #kindle{
            background-color: #95BDE8;
        }
        
        #pared{
            display: none;
        }

        #mesatop{
            overflow: visible;
        }

        #title{
            position: static;
        }

        #title h1{
            font-size: 5em;
            text-align: center;
        }

        #title h2{
            font-size: 3em;
            text-align: center;
            margin-top: -20px;
        }

        #pared{
            height: max(18vh, 194px);
        }

        #mesatop{
            height: max(84vh, 908px);
            background-color: #95BDE8;
        }
    }



    @media screen and (max-width: 800px)  {


        #temp {
            font-size: 1.5em;
        }
    }


    @media screen and (max-width: 500px)  {


        #mesatop{
            height: 86vh;
            overflow: visible;
        }


        #temp{
            left: 20vw;
        }

        #kindle{
            padding: 0;
        }
    }

    
   



  


</style>
