---
import Estanteria from '../components/Estanteria.astro';
import Coffe from '../components/Coffe.astro';
import LibroAzul from '../components/LibroAzul.astro';
import LibroRosa from '../components/LibroRosa.astro';
import LibroRojo from '../components/LibroRojo.astro';
import LibroMorado from '../components/LibroMorado.astro';
import Flecha from '../components/Flecha.astro';
import CoffeTop from '../components/CoffeTop.astro';
import BookTop from '../components/BookTop.astro';
---

<main>
    <Coffe
				widthv='220px';
				heightv='220px';
	/>
    <Estanteria
				widthv='150px';
				heightv='150px';
	/>
    <LibroAzul
    widthv='600px';
    heightv='300px';
    />
    <LibroRosa
    widthv='600px';
    heightv='300px';
    />
    <LibroRojo
    widthv='600px';
    heightv='300px';
    />
    <LibroMorado
    widthv='600px';
    heightv='300px';
    />
    <Flecha
    widthv='100px';
    heightv='100px';
    />
    <CoffeTop
    widthv='400px';
    heightv='400px';
    />
    <BookTop
    widthv='900px';
    heightv='900px';
    />


</main>
