---
import Estanteria from '../components/Estanteria.astro';
import Coffe from '../components/Coffe.astro';
import LibroAzul from '../components/LibroAzul.astro';
import LibroRosa from '../components/LibroRosa.astro';
import LibroRojo from '../components/LibroRojo.astro';
import LibroMorado from '../components/LibroMorado.astro';
import Flecha from '../components/Flecha.astro';
import CoffeTop from '../components/CoffeTop.astro';
import BookTop from '../components/BookTop.astro';
import MarcaPaginas from '../components/MarcaPaginas.astro';
import Posit from '../components/Posit.astro';
import LibroAzulTop from '../components/LibroAzulTop.astro';
import LibroRosaTop from '../components/LibroRosaTop.astro';
import LibroRojoTop from '../components/LibroRojoTop.astro';
import LibroMoradoTop from '../components/LibroMoradoTop.astro';

---

<main>
    <Coffe
				widthv='220px';
				heightv='220px';
	/>
    <Estanteria
				widthv='150px';
				heightv='150px';
	/>
    <LibroAzul
    widthv='600px';
    heightv='300px';
    />
    <LibroRosa
    widthv='600px';
    heightv='300px';
    />
    <LibroRojo
    widthv='600px';
    heightv='300px';
    />
    <LibroMorado
    widthv='600px';
    heightv='300px';
    />
    <Flecha
    widthv='100px';
    heightv='100px';
    />
    <CoffeTop
    widthv='400px';
    heightv='400px';
    />
    <BookTop
    widthv='900px';
    heightv='900px';
    colorv='#5C9DBF'
    colorv2='#46788E'
    />
    <MarcaPaginas
    widthv='30px';
    heightv='900px';
    colorv='#D6A7B4'
    />
    <Posit
    widthv='100px';
    heightv='100px';
    />

    <LibroAzulTop
    widthv='300px';
    heightv='300px';
    />
    <LibroRosaTop
    widthv='300px';
    heightv='300px';
    />
    <LibroRojoTop
    widthv='300px';
    heightv='300px';
    />
    <LibroMoradoTop
    widthv='300px';
    heightv='300px';
    />




</main>
