<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Porfolio de Pau Gallego" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"  media="(prefers-color-scheme: light)">
    <link rel="icon" type="image/svg+xml" href="/favicondark.svg" media="(prefers-color-scheme: dark)">
    <meta name="generator" content="{Astro.generator}" />
    <title>PauGallego</title>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-0LHT2N28SQ"></script>
</head>

<body class="">
    <slot />
</body>

<style is:global>
    
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

    html{scroll-behavior:smooth}
    .merriweather{
    font-family: "Merriweather", serif;
    color: #2C2C2C;
    }

    .indie-flower{
    font-family: "Indie Flower", cursive;
    color: #2C2C2C;
    }



    body::-webkit-scrollbar {
        width: 0em;
    }

    body::-webkit-scrollbar-thumb {
        background-color: #292929;
    }

    body::-webkit-scrollbar-track {
        background-color: #292929;
    }

    body {
        scrollbar-width: thin;
        scrollbar-color: #292929 #292929; 
    }

    .titulo {
        font-family: LiberationSerif, 'Liberation Serif';
    }

</style>

</html>



