<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Porfolio de Pau Gallego" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content="{Astro.generator}" />
    <title>PauGallego</title>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-0LHT2N28SQ"></script>
</head>

<body class="">
    <slot />
</body>

<style is:global>
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

    body::-webkit-scrollbar {
        width: 0em;
    }

    body::-webkit-scrollbar-thumb {
        background-color: #292929;
    }

    body::-webkit-scrollbar-track {
        background-color: #292929;
    }

    body {
        scrollbar-width: thin;
        scrollbar-color: #292929 #292929; 
    }
</style>

</html>
